---
import MyLayout from '../../layouts/MyLayout.astro';
import AboutPage from '../../components/AboutPage';
import { aboutData } from './about';
---

<MyLayout title="About Me | Rasyidan Akbar F">
  <div class="pt-24">
    <AboutPage client:load data={aboutData} />
  </div>
</MyLayout>
