---
import MyLayout from '../layouts/MyLayout.astro';
---

<MyLayout title="About Me | Rasyidan Akbar F">
  <div class="pt-24 max-w-3xl mx-auto">
    <h1 class="text-3xl font-black mb-6">About Me</h1>
    <div class="space-y-4">
      <p>
        Biomedical Engineering graduate from Universitas Gadjah Mada turned into AI & Data Engineer. As Biomedical Engineering graduate, I learned a lot of electrical engineering and computer science stuff when I was an undergraduate student such as electrical circuit, networking & data communication, linear algebra, discrete math, data structure & algorithm, microcontroller, etc. 
        So I have fundamental knowledges of programming both in software and hardware but not really deep as CS and EE students.
      </p>
      <p>
        My thesis was about benchmarking and evaluating classification methods (deep learning) for EEG-based motor imagery and impact of data scaling on both methods.
        My favorite part of my thesis was reading paper titled "Attention is all you need" which is sounds silly but it's really interesting to see how it works and how it's implemented as it was 
        introduced attention mechanism on transformer model. The worst part of my thesis, unironically was trying to install the right version of CUDA driver and 
        it's configuration on WSL Ubuntu to make everything work (i know this was more of skill issue rather than thesis content).
      </p>
      <p>
        As my internship before was as AI engineer @ Kalbe, I have experiences in solving real-world problems using AI/ML such as in corporate healthcare domain while
        currently working as data engineer for sales and marketing stuff.
      </p>
      <p>
        Feel free to connect with me on <a href="https://github.com/0xrsydn" target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-yellow-400 hover:underline">GitHub</a> and <a href="https://linkedin.com/in/rsydn" target="_blank" rel="noopener noreferrer" class="text-blue-600 dark:text-yellow-400 hover:underline">LinkedIn</a> also check out my projects to learn more about my work and interests.
      </p>
    </div>
  </div>
</MyLayout>
