---
import MyLayout from '../layouts/MyLayout.astro';
---

<MyLayout title="About Me | Rasyidan Akbar F">
  <div class="pt-24 max-w-3xl mx-auto">
    <h1 class="text-3xl font-black mb-6">About Me</h1>
    <div class="space-y-4">
      <p>
        Biomedical Engineering graduate from Universitas Gadjah Mada turned into AI & Data Engineer. Maybe i lean more to be a fullstack engineer now as
        I'm still learning almosteverything about software development and product design while specializing in data and AI stuff.
      </p>
      <p>
        As my internship before was as AI engineer @ Kalbe, I have experiences in solving real-world problems using AI/ML such as in corporate healthcare domain while
        currently working as data engineer for sales and marketing stuff.
      </p>
      <p>
        Feel free to connect with me on GitHub and LinkedIn also check out my projects to learn more about my work and interests.
      </p>
    </div>
  </div>
</MyLayout>
