---
import MyLayout from '../layouts/MyLayout.astro';
---

<MyLayout title="Home | Rasyidan Akbar F">
	<div class="text-center">
		<h1 class="text-4xl font-bold mb-4">Rasyidan Akbar F.</h1>
		<p class="text-xl">
			Hi, I'm Rasyidan aka 0xrsydn. I'm passionate developer and engineer.
		</p>
	</div>
</MyLayout>