---
import MyLayout from '../layouts/MyLayout.astro';
import SocialButton from '../components/SocialButton';
---

<MyLayout title="Rasyidan Akbar F">
	<div class="pt-24 md:pt-32 lg:pt-40 text-left">
		<h1 class="text-6xl font-black mb-4">Hi, I'm Rasyidan Akbar F.</h1>
		<p class="text-xl mb-6">
			Biomedical Engineering graduate of Universitas Gadjah Mada 
			who currently working as Data Engineer in Stealth. 
			Previously, working as AI Engineer (Internship) at Kalbe Farma. 
		</p>
		<SocialButton client:load />
	</div>
</MyLayout>