---
import Layout from '../../layouts/MyLayout.astro';
import { ProjectCard } from '../../components/ProjectCard';
import { projects } from './projects';
---

<Layout title="My Projects">
  <main class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">My Projects</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </div>
  </main>
</Layout>
